.hero-section{
    padding-top: 10px;
    margin-bottom: 20px;
}
.background-img{
    background-size: cover;
    background-position: center;
    justify-content: center;
    object-position: center;
    position: relative;
    margin: auto;

}
.section-title{
    font-family: 'inter';
    font-size: 10px;
    font-weight: 500;
    
    color: #000000;

    border-bottom: 2px solid #131213;
    width: 100%;
}

.products-img{
    object-position: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
}
.popular-products-img{
    object-position: center;
    position: relative;
    margin: auto;
    margin-bottom: 90px;
}


.footer{
    text-align: center;
    background-color: #FAF3F3;
    padding-top: 50px;
    margin-top: 200px;
    padding-bottom: 35px;
}
.footer h2{
    font-family: 'inter';
    font-size: 12px;
    font-weight: 600;

    margin-bottom: 40px;
    color: #000000;
}
.footer h4{
    font-family: 'inter';
    font-size: 10px;
    font-weight: 400;

    margin-bottom: 30px;
    color: #000000;
}
.footer h6{
    font-family: 'inter';
    font-size: 10px;
    font-weight: 600;

    color: #000000;
}
.footer p{
    font-family: 'inter';
    font-size: 10px;
    font-weight: 600;

    color: #000000;
}
.footer-small{
    text-align: center;
    background-color: #D9D9D9;
    padding-bottom: 8px;
    padding-top: 8px;
}
.footer-small p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 600;

    color: #000000;
}